includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    excludes_analyse:
        - %rootDir%/../../../app/Nova/*
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Pagination\\LengthAwarePaginator::\$totalGross#'
        - '#Parameter \#2 $contents of method Illuminate\\Contracts\\Filesystem\\Filesystem::put() expects resource|string, array<Illuminate\\Http\\UploadedFile>|Illuminate\\Http\\UploadedFile|null given\.#'

        # https://github.com/nunomaduro/larastan/issues/166
        - '#Call to an undefined method App\\Providers\\AppServiceProvider::sortBy()#'

        # https://github.com/nunomaduro/larastan/issues/350
        - '#groupBy#'

        # https://github.com/nunomaduro/larastan/issues/351
        - '#::visible\(\)#'
        - '#HasOne but returns#'

        # https://github.com/nunomaduro/larastan/issues/352
        - '#but returns Illuminate\\Database\\(Query|Eloquent)\\Builder#'
        - '#Builder::uncancelled#'

        # https://github.com/nunomaduro/larastan/issues/353
        - '#Parameter \#1 \$table \(string\|null\)#'
        - '#where(.*)\(\) invoked with 0 parameters#'

        # Fix errors with external dependencies
        - '#Access to an undefined property FormulaInterpreter\\Compiler::\$functionCommandFactory#'
        - '#withPermission\(\)#'
