includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    excludes_analyse:
        - %rootDir%/../../../app/Nova/*
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Pagination\\LengthAwarePaginator::\$totalGross#'
        - '#Parameter \#2 $contents of method Illuminate\\Contracts\\Filesystem\\Filesystem::put() expects resource|string, array<Illuminate\\Http\\UploadedFile>|Illuminate\\Http\\UploadedFile|null given\.#'

        # https://github.com/nunomaduro/larastan/issues/166
        - '#Call to an undefined method App\\Providers\\AppServiceProvider::sortBy()#'

        # https://github.com/nunomaduro/larastan/issues/272
        - '#dynamicWhere#'
        - '#Illuminate\\Database\\Query\\Builder#'
        - '#Illuminate\\Database\\Eloquent\\Builder#'
        - '#should return Illuminate\\Database\\Eloquent\\Collection but returns Illuminate\\Support\\Collection#'

        # https://github.com/nunomaduro/larastan/issues/335
        - '#calculate\(\) expects App\\Models\\User\|null#'

        # Fix errors with external dependencies
        - '#Access to an undefined property FormulaInterpreter\\Compiler::\$functionCommandFactory#'
