.sidebar {
  top: 90px; // main navigation + some offset
}

.sidebar-header {
  position: relative;
  display: flex;

  &::after {
    content: '';
    border-bottom: 1px solid $gray-300;
    margin-left: map_get($spacers, 2);
    z-index: -1;
    flex: 1;
    align-self: center;
  }
}
