body, .wrapper {
  min-height: 100vh;
}

footer {
  background-color: $primary-dark;
}

.bg-white footer:before {
  border-top-color: $white;
}

.jumbotron {
  border-radius: 0;
}

@include media-breakpoint-down(sm) {
  .navbar .dropdown-menu {
    border-width: 0;
    box-shadow: none;
    padding: 0;
  }
}
