html, body {
  // Fix sticky headers this way, in case an extension inserts some styling
  overflow: visible !important;
}

body, .wrapper {
  min-height: 100vh;
}

footer {
  background-color: $primary-dark;
}

.bg-white footer:before {
  border-top-color: $white;
}

.jumbotron {
  border-radius: 0;
}

.kpi_headline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.kpi_headline >*{
  flex:1;
}

@include media-breakpoint-down(sm) {
  .navbar .dropdown-menu {
    border-width: 0;
    box-shadow: none;
    padding: 0;
  }
}
