// Configuration
$enable-shadows: true;

// Radii
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$card-border-radius: 0;

// Brand
$primary: #1e73be;
$primary-dark: #274a7f;
$primary-lighter: #5774bb;
$primary-light: #d2e6f9;
$secondary: #565656;
$light: #f4f3f7;
$black: #000;

$success: #82bc24;
$warning: #e3b526;

// Body
$body-bg: $light;
$body-color: $secondary;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$headings-color: $primary-dark;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Cards
$card-border-width: 2px;
$card-border-color: rgba(black, 0.075);

// Input
$custom-select-bg: $primary;
$custom-select-color: white;
$custom-select-border-color: $custom-select-bg;
$custom-select-indicator-color: $custom-select-color;

$input-padding-y: 0.25rem;
$input-padding-x: 0.5rem;
$input-height-inner: 2rem;
$custom-select-line-height: 1.4;
$custom-select-padding-y: 0.25rem;

// Dropdowns
$dropdown-border-color: rgba($black, 0.05);
$dropdown-border-radius: 0;
$dropdown-box-shadow: 0 0.2rem 0.75rem rgba($black, 0.1);
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: 0.2rem;
$dropdown-min-width: 13rem;
$dropdown-spacer: 0;

// Alerts
$alert-bg-level: -7;
$alert-border-level: -6;
$alert-border-radius: 2px;
$alert-padding-y: 0.5rem;

// Tables
$table-accent-bg: mix(white, $light);
$table-hover-bg: $light;
