// Configuration
$enable-shadows: true;
$yiq-contrasted-threshold: 160;

// Radii
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$card-border-radius: 0;

// Brand
$primary: #1e73be;
$primary-dark: #274a7f;
$primary-lighter: lighten($primary, 20%);
$primary-light: lighten($primary, 45%);
$secondary: #565656;
$light: #f4f3f7;
$black: #000;

$success: #82bc24;
$warning: #e3b526;

// Body
$body-bg: $light;
$body-color: $secondary;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$headings-color: $primary-dark;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$small-font-size: 85%;

// Cards
$card-border-width: 2px;
$card-border-color: rgba($black, 0.075);
$card-cap-bg: rgba($black, 0.015);

// Input
$input-bg: #fafafe;

$custom-select-bg: $primary;
$custom-select-color: white;
$custom-select-border-color: $custom-select-bg;
$custom-select-border-radius: 0.15rem;
$custom-select-indicator-color: $custom-select-color;

$form-group-margin-bottom: 0.75rem;

$input-padding-y: 0.25rem;
$input-padding-x: 0.5rem;
$input-height-inner: 2rem;
$custom-select-line-height: 1.4;
$custom-select-padding-y: 0.25rem;
$custom-file-padding-x: $input-padding-x;
$custom-file-padding-y: $input-padding-y;
$custom-file-text: (
  en: "Browse",
  de: "Auswählen"
);

// Dropdowns
$dropdown-border-color: rgba($black, 0.05);
$dropdown-border-radius: 0;
$dropdown-box-shadow: 0 0.2rem 0.75rem rgba($black, 0.1);
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: 0.2rem;
$dropdown-min-width: 13rem;
$dropdown-spacer: 0;

// Alerts
$alert-bg-level: -7;
$alert-border-level: -6;
$alert-border-radius: 2px;
$alert-padding-y: 0.5rem;

// Breadcrumps
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-padding-y: 0;

// Tables
$table-accent-bg: mix(white, $light);
$table-hover-bg: $light;
$table-cell-padding-sm: 0.3rem 0.5rem;

// Badges
$badge-font-size: 85%;

// Buttons
$btn-box-shadow: 0.185rem 0.185rem 0 rgba($black, 0.1);
