//
// The classes in this file are NOT being used
// and will be stripped out in the build process.
//
// They are just used to compile and optimize the image assets
// Whenever an image has been added, remember to run 'yarn dev'.
//

@each $name, $url in (
  ekomi-seal: 'ekomi_seal.png',
  exporo-logo-blue: 'logo_exporo_blue.svg',
  exporo-unterschrift: 'unterschrift-exporo.png',
) {
  .image-#{$name} {
    background-image: url('../../images/#{$url}');
  }
}
