.table-sticky {
  thead th,
  tfoot td {
    position: sticky;
    background: $white;
    z-index: 1;
  }

  thead th {
    top: 60px;
    box-shadow: 0 0.5px 0 $table-border-color;
  }

  tfoot td {
    bottom: 0;
    box-shadow: 0 -0.25px 0 $table-border-color;
  }
}

.table-foot-totals {
  > tfoot > tr:first-child > {
    td, th {
      border-top-width: 2px;
    }
  }
}

.table-fixed {
  table-layout: fixed;
}
