
body {
  -webkit-font-smoothing: antialiased;
}

h1, h2, .h1 {
  text-transform: uppercase;

  &::after {
    border-bottom: 1px solid $primary;
    content: '';
    width: 65px;
    display: block;
    margin: 15px auto;
  }
}

.btn {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
}

.tracking-wide {
  letter-spacing: 0.04rem;
}

::selection {
  background: $primary;
  color: $white;
}

.text-reset {
    color: $body-color;
    text-transform: none;
    font-family: $font-family-base;
}
